.SelectionTicket {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;

    >div {
        background-color: #f4f4fe;
        display: flex;
        justify-content: center;
        padding: 20px;

        .selectionTicket {
            width: 70%;
        }
    }
}