<<<<<<< HEAD
.Popup {
  /* Popup.scss */
  .popup-container {
=======
.Popup{
   /* Popup.scss */
.popup-container {
>>>>>>> 208927756f3beadbbc0631332f596f5f633bfada
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; /* Set a high z-index to make the popup appear above other components */
<<<<<<< HEAD

=======
  
>>>>>>> 208927756f3beadbbc0631332f596f5f633bfada
    .popup {
      max-width: 500px;
      background-color: #f9f9f9;
      border-radius: 8px;
<<<<<<< HEAD
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Slightly reduce opacity for better performance */
      padding: 20px;
      position: relative; /* Add relative positioning for the close button */

      .close-button {
        position: absolute;
        top: -10px; /* Adjust the top and right values to center the close button */
        right: 2px;
        font-size: 24px;
=======
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      padding: 20px;
  
      .close-button {
        position: absolute;
        top: 43%;
        right: 45%;
        font-size: 30px;
>>>>>>> 208927756f3beadbbc0631332f596f5f633bfada
        cursor: pointer;
        background: transparent;
        border: none;
        outline: none;

        &:hover {
<<<<<<< HEAD
          color: red; /* Add your desired hover effect here */
        }
      }

=======
            color: red; /* Add your desired hover effect here */
          }
      }
  
>>>>>>> 208927756f3beadbbc0631332f596f5f633bfada
      .content {
        padding: 10px;
      }
    }
  }
<<<<<<< HEAD
=======
  
  
>>>>>>> 208927756f3beadbbc0631332f596f5f633bfada
}
