.Login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;

    >div {
        width: 50%;
        background-color: #f4f4fe;
        border-radius: 20px;
        padding: 20px;

        .tab {
            display: flex;
            justify-content: center;
            align-items: center;

            .tab1 {
                width: 50%;
                text-align: center;
            }

            .tab2 {
                width: 50%;
                text-align: center;
            }
        }

        .Content {
            padding-bottom: 20px;

            p {
                color: gray;
            }

            .ip1 {
                margin-top: 20px;
                width: 100%;
                padding: 10px;
            }

            .ip2 {
                margin-top: 20px;
                width: 100%;
                padding: 10px;
            }

            button {
                margin-top: 20px;
                width: 100%;
                padding: 10px;
                background-color: salmon;
                color: white;
                font-weight: bolder;
            }
        }
    }
}