.Payment {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;

    >div {
        background-color: #f4f4fe;
        display: flex;
        justify-content: center;
        padding: 20px;

        .selectionTicket {
            width: 70%;
            padding-right: 20px;

            h1 {
                color: #009d96;
                font-weight: bold;
                padding-bottom: 20px;
                font-size: 20px;
            }

            .loaive {
                form{
                    //background-color: red;

                    .banking{
                        
                        div{
                            display: flex;

                            input{
                                margin-right: 5px;
                            }

                            img{
                                margin-right: 5px;
                            }
                        }
                    

                        label{
                            display: flex;
                            align-items: center;
                            
                        }

                        .inputbank{
                            display: flex;
                            padding: 0px 5px;
                        }
                    }

                    div{

                        .label{
                            display: block;
                        }

                        .input{
                            border-radius: 5px;
                            box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
                        }
                    }
                }
            }
        }

        .infoTicket {
            width: 30%;
            padding-top: 50px;

            .name {
                font-weight: bold;
                font-size: 25px;
            }

            .subname {

                font-size: 17px;
            }

            span {
                font-weight: bold;
            }

            .bnt {
                text-align: center;

                button {
                    border: 1px solid #009d96;
                    padding: 10px 40px;
                    font-weight: bold;
                    margin-top: 20px;
                    border-radius: 30px;
                }

                button:hover {
                    background-color: #009d96;
                    color: #f4f4fe;
                }
            }



        }
    }
}